{% include "include/header.html" %}


		<main>
			<div class="main-section">
				<div class="container">
					<div class="main-section-data">
						<div class="row">
							<div class="col-lg-3 col-md-4 pd-left-none no-pd">
								<div class="main-left-sidebar no-margin">
									<div class="user-data full-width">
										<div class="user-profile">
											<div class="username-dt">
												<div class="usr-pic">
														{% if session.profil_media %}
								<img src="/static/avatar/{{ session.profil_media }}" style="    width: 120px;" alt="">
							{% else %}
								<img src="http://via.placeholder.com/30x30" alt="">
							{% endif %}
												</div>
											</div><!--username-dt end-->
											{% if 'username' in session %}
											<div class="user-specs">
												<h3>{{ session.full_name }}</h3>
												<span>{{ session.username }}</span>
											</div>
										</div><!--user-profile end-->

												<ul class="flw-status" style="    margin-bottom: 18px;">
												<li><a href="/followings/{{ user.username }}">
													<span class="hover_username">Following</span>
													<b class="hover_username">{{ user.nb_following }}</b>
												</a>
												</li>
												<li><a href="/followers/{{ user.username }}">
													<span class="hover_username">Followers</span>
													<b  class="hover_username"id="nb_follower" >{{ user.nb_follower }}</b>
												</a>
												</li>
											</ul>
											<br><br>

										<ul class="user-fw-status">
									
											<li>
												<a href="/profile/{{ session.username }}" title="">View Profile</a>
											</li>
										</ul>
									</div><!--user-data end-->
									{% endif %}
									<div class="suggestions full-width">
										<div class="sd-title">
											<h3>Suggestions de followings </h3>
											<i class="la la-ellipsis-v"></i>
										</div><!--sd-title end-->
										<div class="suggestions-list">

										{% for suggestion in suggestions %}
										<a href="/profile/{{suggestion.username}}" class="hover_username">
											<div class="suggestion-usd ">
											

													{% if suggestion.profil_media %}

									<img src="/static/avatar/{{suggestion.profil_media}}" width="35px" alt="">

											{% else %}

											<img src="http://via.placeholder.com/35x35" alt="">
											
											{% endif %}


												<div class="sgt-text">
													<h4 class="hover_username"> {{suggestion.full_name}}</h4>
													<span class="hover_username">{{suggestion.username}}</span>
												</div>
												<span><i class="la la-arrow-right"></i></span>
											</div></a>
										{% endfor %}
										
										
										
											<div class="view-more">
												<a href="/suggestions" title="">View All</a>
											</div>
										</div><!--suggestions-list end-->
									</div><!--suggestions end-->
									<div class="tags-sec full-width">
					
										<div class="cp-sec">
											<img src="/static/images/logo2.png" alt="">
										</div>
									</div><!--tags-sec end-->
								</div><!--main-left-sidebar end-->
							</div>
							<div class="col-lg-9 col-md-8 no-pd">
								<div class="main-ws-sec">
									<div class="post-topbar">
									<div class="post-project-fields">
					<form action="postmessage"  method="post">
						<div class="row">
							<div class="col-lg-12">
								<input type="text" name="title" placeholder="Your Title">
							</div>
							<div class="col-lg-12">
								<textarea name="message" placeholder="Post your message"></textarea>
							</div>
							<div class="col-lg-12 text-right">
								<ul>
									<li><button class="active" type="submit" value="post">Post</button></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
									
									</div><!--post-topbar end-->


									<div class="posts-section">
										  {% for post in posts %}
										<div class="post-bar">
											<div class="post_topbar">
												<div class="usy-dt">

														{% if post.profil_media %}
								<img src="/static/avatar/{{ post.profil_media }}" style="    width: 50px;" alt="">
							{% else %}
							<img src="http://via.placeholder.com/50x50" alt="">
							{% endif %}


													
													<div class="usy-name">
														<a href="/profile/{{ post.username }}"  ><h3 class="hover_username" >{{ post.full_name }}</h3></a>
														<span><img src="/static/images/clock.png" alt="">{{ 

													post.created }}</span>
													</div>
												</div>
											
											</div>
					
											<div class="job_descp">
												<h3>{{ post.title }}</h3>
										
												<p>{{ post.message }}</p>
											
											</div>
											<div class="job-status-bar">
												<ul class="like-com">
													<li>
														<a href="#link_post_like_{{ post.id }}" 
														id="link_post_like_{{ post.id }}"
														onclick="like({{ post.id }})"

													{% if post.liked == 1 %}
													class="active"
													{% endif %}
														> 

															<em id="nb_like_{{ post.id }}">{{ post.nb_like }}</em> 
															<i class="la la-heart"></i><em id="text_like_{{ post.id }}">Likes</em>
														</a>
														
													</li> 
													<li><a href="/post/{{ post.id }}" title="" class="com"><img src="images/com.png" alt="">{{ post.nb_comment }} Comments</a></li>
												</ul>
											</div>
										</div><!--post-bar end-->
										 {% endfor %}
								<!-- 		<div class="process-comm">
											<div class="spinner">
												<div class="bounce1"></div>
												<div class="bounce2"></div>
												<div class="bounce3"></div>
											</div>
										</div> --><!--process-comm end-->
									</div><!--posts-section end-->
								</div><!--main-ws-sec end-->
							</div>
						
						</div>
					</div><!-- main-section-data end-->
				</div> 
			</div>
		</main>

{% include "include/footer.html" %}


		