{% include "include/header.html" %}


	<div class="wrapper">
		

		<div class="sign-in-page">
			<div class="signin-popup">
				<div class="signin-pop">
					<div class="row">
						<div class="col-lg-6">
							<div class="cmp-info">
								<div class="cm-logo">
									<img src="static/images/logo2.png" alt="">
									<p>MyNetwork is an open channel  that lets you share and connect with family & friends and meet new people around the world</p>
								</div><!--cm-logo end-->	
								<img src="static/images/accueil2.png" alt="">			
							</div><!--cmp-info end-->
						</div>
						<div class="col-lg-6">
							<div class="login-sec">
								<ul class="sign-control">

									{% if request.path == '/sign_up' %}

									<li data-tab="tab-1" ><a href="#" title="">Sign in </a></li>				
									<li data-tab="tab-2" class="current" id="sign_up_tab "  ><a href="#" title="">Sign up</a></li>	

									{% else %}


									<li data-tab="tab-1" class="current"  ><a href="#" title="">Sign in </a></li>				
									<li data-tab="tab-2" id="sign_up_tab"  ><a href="#" title="">Sign up</a></li>	

									{% endif %}			
								</ul>			
								<div class="sign_in_sec {% if request.path != '/sign_up' %} current {% endif %}	" id="tab-1">
									
									<h3>Sign in</h3>
									{% if 'login' in error_array %}
														<div class="error_field">{{ error_array['login'] }}
														</div>
													{% endif %}
									<!-- /////// LOGIN ///////// -->
									<form action = "/login" method = "POST">

										<div class="row">
											<div class="col-lg-12 no-pdd">
												<div class="sn-field">
													<input type="text" name="username" placeholder="Username">
													<i class="la la-user"></i>
												</div><!--sn-field end-->
											</div>
											<div class="col-lg-12 no-pdd">
												<div class="sn-field">
													<input type="password" name="password" placeholder="Password">
													<i class="la la-lock"></i>
												</div>
											</div>
											<div class="col-lg-12 no-pdd">
												<div class="checky-sec">
													<div class="fgt-sec">
														<input type="checkbox" name="cc" id="c1">
														<label for="c1">
															<span></span>
														</label>
														<small>Remember me</small>
													</div><!--fgt-sec end-->
												</div>
											</div>
											<div class="col-lg-12 no-pdd">
												<button type="submit" value="submit">Sign in</button>
											</div>
										</div>
									</form>
								</div><!--sign_in_sec end-->
								<div class="sign_in_sec {% if request.path == '/sign_up' %} current {% endif %} " id="tab-2">
									<div class="{% if request.path == '/sign_up' %} current {% endif %} " id="tab-3">
											<h3>Sign up </h3>

											<!-- /////// SINGUP ///////// -->
										<form action = "/sign_up" method = "POST">
											<input type="hidden" name="form" value="sign_up">
											<div class="row">
												<div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="text" name="fullname" placeholder="Full Name">
														<i class="la la-user"></i>
													</div>
													{% if 'fullname' in error_array %}
														<div class="error_field">{{ error_array['fullname'] }}
														</div>
													{% endif %}
												</div>
												<div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="text" name="username" placeholder="Username">
														<i class="la la-globe"></i>
													</div>
													{% if 'username' in error_array %}
														<div class="error_field">{{ error_array['username'] }}
														</div>
													{% endif %}
												</div>
												<div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="email" name="email" placeholder="Email">
														<i class="la la-at"></i>
													</div>
													{% if 'email' in error_array %}
														<div class="error_field">{{ error_array['email'] }}
														</div>
													{% endif %}
												</div>
												<div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="password" name="password" placeholder="Password">
														<i class="la la-lock"></i>
													</div>
													{% if 'password' in error_array %}
														<div class="error_field">{{ error_array['password'] }}
														</div>
													{% endif %}
												</div>
												<div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="password" name="repeat_password" placeholder="Repeat Password">
														<i class="la la-lock"></i>
													</div>
													{% if 'password_repeat' in error_array %}
														<div class="error_field">{{ error_array['password_repeat'] }}
														</div>
													{% endif %}
												</div>
												<div class="col-lg-12 no-pdd">
													<div class="checky-sec st2">
														<div class="fgt-sec">
															<input type="checkbox" name="cc" id="c2">
															<label for="c2">
																<span></span>
															</label>
															<small>Yes, I understand and agree to the workwise Terms & Conditions.</small>
														</div><!--fgt-sec end-->
													</div>
												</div>
												<div class="col-lg-12 no-pdd">
													<button type="submit" value="submit">Sign Up</button>
												</div>
											</div>
										</form>
									</div><!--dff-tab end-->
								</div>		
							</div><!--login-sec end-->
						</div>
					</div>		
				</div><!--signin-pop end-->
			</div><!--signin-popup end-->
			<div class="footy-sec">
				<div class="container">
					<p><img src="static/images/copy-icon.png" alt="">Copyright 2019</p>
				</div>
			</div><!--footy-sec end-->
		</div><!--sign-in-page end-->


	</div>
	{% include "include/footer.html" %}