{% include "include/header.html" %}


		<section class="companies-info">
			<div class="container">
				<div class="company-title">
					<h3>Search:&emsp; {{ query }}</h3>
				</div><!--company-title end-->
				<div class="companies-list">
					<div class="row">
						 {% for user in users %}
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="company_profile_info">
								<div class="company-up-info">
									
											{% if user.profil_media %}

									<img src="/static/avatar/{{user.profil_media}}" alt="">

											{% else %}

										
									<img src="http://via.placeholder.com/91x91" alt="">

											
											{% endif %}

									<a href="/profile/{{ user.username }}" title="" class="view-more-pro hover_username"><h3 class="hover_username">{{ user.full_name }}</h3>
									<h4 class="hover_username">{{ user.username }}</h4>
								</a>
									<ul>
										{% if user.followed == 1 %}
											<li><a href="#" title="" id="follow_button_{{ user.username }}"  onclick="follow('{{ user.username }}')" class="follow">Unfollow</a></li>
											{% else %}
											<li><a href="#" title="" id="follow_button_{{ user.username }}"  onclick="follow('{{ user.username }}')" class="follow">Follow</a></li>
											{% endif %}
									</ul>
								</div>
								<a href="/profile/{{ user.username }}" title="" class="view-more-pro hover_username">View Profile</a>
							</div><!--company_profile_info end-->
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section><!--companies-info end-->


		{% include "include/footer.html" %}